# "local", "development", "stage", "production", "test"
APP_ENV=LOCAL

# database
# database (Local & Prod: PostgreSQL; Test auto-switches to SQLite in-memory)
DB_DIALECT=postgresql+asyncpg
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=fastapi_template_local